
@{
    ViewData["Title"] = "Home Page";
}
@section styles{
<link rel="stylesheet" href="~/css/landing.css">
}

<div class="landing">
    <div class="content">
        <h1>Mina filmer och serier</h1>
        
    </div>
    
</div>
