:root {
    --primary-color: #fc8b00;
    --secondary-color: #b50808;
    --dark-color: #333;
    --light-color: #f4f4f4;
    --primary-text-color: #fdfdfd;
    --primary-background-color: #0e0e0e;
    --primary-border-color: #888;
    --warning-color: #feee02;
    --error-color: #fc0000;
     
  }